$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;
$primaryBlue: #409EFF;
$darkBlue: #0f2650;
$baseOrange: #ff7e00;
$background: #0f2650;

//sidebar
$menuBg:#304156;
$basicBlue:#014189;
$blue:#739bc7;
$lightBlue:#cfdff3;
$menuHover:#001528;
$golden:#daa520;
